@model TrackSingleViewModel
@{
    ViewData["Title"] = $"{Model.Track.Name} - {Model.Track.Artists.FirstOrDefault().Name}";
}

@inject ServiceStack.IServiceClient _spotify

<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Track</h3>
                <span class="pull-right">@(Model.IsLiked ? "liked" : "")</span>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <span>@Model.Track.Name</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Album</h3>
            </div>
            <div class="box-body">
                <span>@Model.Track.Album.Name</span>
                <img class="pull-right" src="@Model.Track.Album.Images[2].Url" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Artists</h3>
            </div>
            <div class="box-body">
                @{ 
                    var uniqueIds = Model.Track.AllUniqueArtists.Select(a => a.Id).ToList();
                    var artists = _spotify.Get(new GetArtists { Ids = uniqueIds }).Artists;
                }

                @foreach (var artist in artists)
            {
                <div class="col-lg-12" style="margin-bottom: 5px;">
                    <span>@artist.Name</span>
                    <img class="pull-right" src="@artist.Images[2].Url" width="64" height="64" />
                </div>
                <br />
            }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Developer View</h3>
            </div>
            <div class="box-body">
                @inject ServiceStack.IServiceClient spotify
                @*<pre>@(spotify.Get<string>($"/audio-features/{Model.Track.Id}"))</pre>
                    <pre>@(spotify.Get<string>($"/tracks/{Model.Track.Id}"))</pre>
                    <pre>@(spotify.Get<string>($"/recommendations?seed_tracks={Model.Track.Id}"))</pre>*@

                @*<pre>@(_spotify.Get<string>(new GetArtists { Ids = uniqueIds }))</pre>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    </script>
} 