@model TrackSingleViewModel
@{
    ViewData["Title"] = $"{Model.Track.Name} - {Model.Track.Artists.FirstOrDefault().Name}";
}

@inject ServiceStack.IServiceClient _spotify

<input id="trackJson" type="hidden" value="@ServiceStack.StringExtensions.ToJson(Model)" />
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Track</h3>
                <span class="pull-right">@(Model.IsLiked ? "liked" : "")</span>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <span>@Model.Track.Name</span>
                </div>
                <hr />
                <div class="grid-container">
                    <table id="trackGroupsGrid"></table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-4">
        <div class="box box-default">
            <div class="box-body">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3>Album</h3>
                    <hr />
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-8">@Model.Track.Album.Name</div>
                        <img class="pull-right col-4" src="@Model.Track.Album.Images[2].Url" />
                    </div>
                </div>
                <br />
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3>Artists</h3>
                    <hr />
                    @{
                        var uniqueIds = Model.Track.AllUniqueArtists.Select(a => a.Id).ToList();
                        var artists = _spotify.Get(new GetArtists { Ids = uniqueIds }).Artists;
                    }

                    @foreach (var artist in artists)
                    {
                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 5px;">
                            <span class="col-8">@artist.Name</span>
                            <img class="pull-right col-4" src="@artist.Images[2].Url" width="64" height="64" />
                        </div>
                        <hr />
                    }
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Developer View</h3>
            </div>
            <div class="box-body">
                @inject ServiceStack.IServiceClient spotify
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(spotify.page.trackSingle.init)
    </script>
} 